
<div class="card">
<h5 class="card-title">Bienvenidos a mi Portafolio</h5>
<p>Esta es la Página principal</p>
  <div class="card-body contenido">
Hi there 👋, my name is Pedro Eduardo
I am Front-End Developer & Geographic Information Systems (GIS) Analyst
  </div>
</div>
