  <section class=" mt-2  bg-white text-dark">
    <div class="container">
           <h3>Mis proyectos</h3>
      <div class="row justify-content-md-center">
        <div class="col-md-4 ">
          <div class="card">
            <%= image_tag 'image1.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Aplicación Métodos</h5>
      <p class="texto">El Programa tiene una clase padre llamada Person, la cual tiene los componentes first name, last name y age</p>
            </div>
            <div class="card-body">
            <a class="boton" href="https://github.com/pedro-donoso/ruby-poo/" target="_blank">Ver más</a> 
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card">
            <%= image_tag 'image2.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Aplicación NASA</h5>
  <p class="texto">Consulta API de la NASA y muestra fotografíasMars Rover</p>
            </div>
            <div class="card-body">
                     <a class="boton" href="https://github.com/pedro-donoso/nasa-fotos/" target="_blank">Ver más</a> 
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card mb-5">
            <%= image_tag 'image3.jpg', class: 'profile_img' %>
            <div class="card-body">
              <h5 class="card-title">Aplicación IMC</h5>
      <p class="texto">Programa que calcula el Índice de Masa Corporal (IMC) e indica niveles de obesidad.</p>
            </div>
            <div class="card-body">
                 <a class="boton" href="https://github.com/pedro-donoso/indice/" target="_blank">Ver más</a> 
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
