.boton {
    background-color: red;
    padding: 5px;
    border-radius: 5%;
    color: cyan;
}

.card{
    width: 18rem;
}


.profile_img{
    height: 10rem;
}

.contenido{
    text-align: center;
}

p{
    text-align: center;
    height: 5rem;
}

.texto{
    text-align: justify;
}

